<!DOCTYPE html>
<html>

<head>
	<%- include('../partials/htmlHead') %>
	<title>Info Site</title>
</head>

<body>
	<%- include('../partials/header') %>
	<%- include('../partials/menu', {pageIdCode: 'books'}) %>
	<div>
		There are <%=books.length%> books:
			<ul>
				<% books.forEach(function(book) { %>
				<li><%= book.title %></li>
				<% }) %>
			</ul>
	</div>
</body>

</html>