<!DOCTYPE html>
<html>

<head>
	<%- include('../partials/htmlHead') %>
	<title>Info Site</title>
</head>

<body>
	<%- include('../partials/header') %>
	<%- include('../partials/menu', {pageIdCode: 'books'}) %>
	<div>
		<p>There are <%=books.length%> books:</p>
			<div class="books">
				<% books.forEach(function(book) { %>
					<img src="images/books/<%=book.idCode%>.png" title="<%=book.title.toUpperCase()%>: <%=book.description%>"/>
				<% }) %>
			</div>
	</div>
</body>

</html>